<section class="about-two">
    <img src="assets/images/icons/about-2-bg-1.png" alt="" class="about-two__bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-two__images">
                    <img src="https://res.cloudinary.com/netpoc-inc/image/upload/v1680432250/about-1_ys49vs.jpg" alt="">
                    <img src="https://res.cloudinary.com/netpoc-inc/image/upload/v1680432500/about-2-1_j1vbwr.jpg" alt="">
                </div><!-- /.about-two__images -->
            </div><!-- /.col-lg-6 -->
            <div class="col-lg-6">
                <div class="about-two__content">
                    <div class="block-title">
                        <div class="block-title__image"></div><!-- /.block-title__image -->
                        <p>Our introduction</p>
                        <h3>Agriculture & Inclsive Business Model</h3>
                    </div><!-- /.block-title -->
                    <div class="about-two__summery">
                        <p>We are bridging the gap between smallholder farmers and key input resources 
                            for market oriented production and profitability. Our promise is a win-win 
                            situation for smallholder farmers, our strategic parteners and the environment.
                        </p>
                    </div><!-- /.about-two__summery -->
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="list-unstyled about-two__list">
                                <li>
                                    <i class="fa fa-check-circle"></i>
                                    Access to Quality Input
                                </li>
                                <li>
                                    <i class="fa fa-check-circle"></i>
                                    Access to Information
                                </li>
                                <li>
                                    <i class="fa fa-check-circle"></i>
                                    Access to Market
                                </li>
                            </ul><!-- /.list-unstyled about-two__list -->
                            <img src="assets/images/resources/sign.png" alt="">
                            <span class="about-two__designation">Co Founder & CEO</span>
                        </div><!-- /.col-md-6 -->
                        <div class="col-md-6">
                            <div class="about-two__progress">
                                <div class="about-two__progress-box">
                                    <div class="circle-progress" data-options='{ "value": 0.90,"thickness": 2,"emptyFill": "#f6f5f2","lineCap": "square", "size": 118, "fill": { "color": "#49a760" } }'>
                                        <span>90%</span>
                                    </div><!-- /.circle-progress -->
                                </div><!-- /.about-two__progress-box -->
                                <div class="about-two__progress-content">
                                    <h3>Organic
                                        Solutions</h3>
                                </div><!-- /.about-two__progress-content -->
                            </div><!-- /.about-two__progress -->
                            <div class="about-two__progress">
                                <div class="about-two__progress-box">
                                    <div class="circle-progress" data-options='{ "value": 0.50,"thickness": 2,"emptyFill": "#f6f5f2","lineCap": "square", "size": 118, "fill": { "color": "#49a760" } }'>
                                        <span>50%</span>
                                    </div><!-- /.circle-progress -->
                                </div><!-- /.about-two__progress-box -->
                                <div class="about-two__progress-content">
                                    <h3>Quality
                                        Agriculture</h3>
                                </div><!-- /.about-two__progress-content -->
                            </div><!-- /.about-two__progress -->
                        </div><!-- /.col-md-6 -->
                    </div><!-- /.row -->
                </div><!-- /.about-two__content -->
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.about-two -->
<section class="feature-two">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-4">
                <div class="feature-two__box">
                    <i class="agrikon-icon-tractor-1"></i>
                    <p>Feature 01</p>
                    <h3>We Use <br>
                        USSD Technology</h3>
                </div><!-- /.feature-two__box -->
            </div><!-- /.col-md-12 col-lg-4 -->
            <div class="col-md-12 col-lg-4">
                <div class="feature-two__box">
                    <i class="agrikon-icon-agriculture"></i>
                    <p>Feature 02</p>
                    <h3>Access <br>
                        Timely Information</h3>
                </div><!-- /.feature-two__box -->
            </div><!-- /.col-md-12 col-lg-4 -->
            <div class="col-md-12 col-lg-4">
                <div class="feature-two__box">
                    <i class="agrikon-icon-farmer"></i>
                    <p>Feature 03</p>
                    <h3>Providing <br>
                        link to Market</h3>
                </div><!-- /.feature-two__box -->
            </div><!-- /.col-md-12 col-lg-4 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.feature-two -->

<section class="service-two service-two__home-two">
    <div class="service-two__bottom-curv"></div><!-- /.service-two__bottom-curv -->
    <div class="container">
        <div class="block-title text-center">
            <div class="block-title__image"></div><!-- /.block-title__image -->
            <p>Our Services list</p>
            <h3>What We’re Offering</h3>
        </div><!-- /.block-title -->
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="service-two__card">
                    <div class="service-two__card-image">
                        <img src="assets/images/services/input.jpg" alt="">
                    </div><!-- /.service-two__card-image -->
                    <div class="service-two__card-content">
                        <h3><a href="service-details.html">Farm Inputs</a></h3>
                        <p>Access to timely input is said to improve farmers chances of profit by more than 20%.</p>
                    </div><!-- /.service-two__card-content -->
                </div><!-- /.service-two__card -->
            </div><!-- /.col-sm-12 col-md-6 col-lg-3 -->
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="service-two__card">
                    <div class="service-two__card-image">
                        <img src="assets/images/services/info.jpg" alt="">
                    </div><!-- /.service-two__card-image -->
                    <div class="service-two__card-content">
                        <h3><a href="service-details.html">Information</a></h3>
                        <p>Providing actionable insight on market dynamics allows smallholder farrmer to make smarter decisions</p>
                    </div><!-- /.service-two__card-content -->
                </div><!-- /.service-two__card -->
            </div><!-- /.col-sm-12 col-md-6 col-lg-3 -->
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="service-two__card">
                    <div class="service-two__card-image">
                        <img src="assets/images/services/training.jpg" alt="">
                    </div><!-- /.service-two__card-image -->
                    <div class="service-two__card-content">
                        <h3><a href="service-details.html">Training</a></h3>
                        <p>Our training are only guides on scientifically proven practices to auguement and improve exsiting
                            practices.
                        </p>
                    </div><!-- /.service-two__card-content -->
                </div><!-- /.service-two__card -->
            </div><!-- /.col-sm-12 col-md-6 col-lg-3 -->
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="service-two__card">
                    <div class="service-two__card-image">
                        <img src="assets/images/services/link.jpg" alt="">
                    </div><!-- /.service-two__card-image -->
                    <div class="service-two__card-content">
                        <h3><a href="service-details.html">Link to Market</a></h3>
                        <p>Lorem ium dolor sit ametad pisicing elit sed simply do ut.</p>
                    </div><!-- /.service-two__card-content -->
                </div><!-- /.service-two__card -->
            </div><!-- /.col-sm-12 col-md-6 col-lg-3 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.service-two -->

<div class="mobile-nav__wrapper">
    <div class="mobile-nav__overlay mobile-nav__toggler"></div>
    <!-- /.mobile-nav__overlay -->
    <div class="mobile-nav__content">
        <span class="mobile-nav__close mobile-nav__toggler"><i class="far fa-times"></i></span>

        <div class="logo-box">
            <a href="index.html" aria-label="logo image"><img src="assets/images/logo-light.png" width="155" alt="" /></a>
        </div>
        <!-- /.logo-box -->
        <div class="mobile-nav__container"></div>
        <!-- /.mobile-nav__container -->

        <ul class="mobile-nav__contact list-unstyled">
            <li>
                <i class="agrikon-icon-email"></i>
                <a href="mailto:needhelp@agrikon.com">needhelp@agrikon.com</a>
            </li>
            <li>
                <i class="agrikon-icon-telephone"></i>
                <a href="tel:666-888-0000">666 888 0000</a>
            </li>
        </ul><!-- /.mobile-nav__contact -->
        <div class="mobile-nav__top">
            <div class="mobile-nav__language">
                <img src="assets/images/resources/flag-1-1.jpg" alt="">
                <label class="sr-only" for="language-select">select language</label>
                <!-- /#language-select.sr-only -->
                <select class="selectpicker" id="language-select">
                    <option value="english">English</option>
                    <option value="arabic">Arabic</option>
                </select>
            </div><!-- /.mobile-nav__language -->
            <div class="mobile-nav__social">
                <a href="#" aria-label="twitter"><i class="fab fa-twitter"></i></a>
                <a href="#" aria-label="facebook"><i class="fab fa-facebook-square"></i></a>
                <a href="#" aria-label="pinterest"><i class="fab fa-pinterest-p"></i></a>
                <a href="#" aria-label="instagram"><i class="fab fa-instagram"></i></a>
            </div><!-- /.mobile-nav__social -->
        </div><!-- /.mobile-nav__top -->



    </div>
    <!-- /.mobile-nav__content -->
</div>
<!-- /.mobile-nav__wrapper -->
