<header class="main-header main-header__two">
            
    <nav class="main-menu main-menu__two">
        <div class="container">
            <div class="logo-box">
                <a href="index.html" aria-label="logo image"><img src="../../../assets/images/logo-1 (1).png" width="153" alt=""></a>
                <span class="fa fa-bars mobile-nav__toggler"></span>
            </div><!-- /.logo-box -->
            <ul class="main-menu__list">
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li>
                    <a href="about.html">About</a>
                </li>
                <li class="dropdown"><a href="#">Our Products</a>
                    <ul>
                        <li><a href="services.html">Services</a></li>
                        <li><a href="service-details.html">Service Details</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </li>
                <li>
                    <a href="index.html">Projects</a>
                </li>
                <li>
                    <a href="index.html">Blog</a>
                </li>
            </ul>
            <!-- /.main-menu__list -->

            <div class="main-header__info">
                <a href="#" class="search-toggler main-header__search-btn"><i class="agrikon-icon-magnifying-glass"></i></a>
                <a class="main-header__cart-btn" href="#"><i class="agrikon-icon-shopping-cart"></i></a>
            </div><!-- /.main-header__info -->
        </div><!-- /.container -->
    </nav>
    <!-- /.main-menu -->
</header><!-- /.main-header -->
<section class="main-slider main-slider__two">
    <div class="main-slider__line-1"></div><!-- /.main-slider__line-1 -->
    <div class="main-slider__line-2"></div><!-- /.main-slider__line-2 -->
    <div class="main-slider__line-3"></div><!-- /.main-slider__line-3 -->
    <div class="main-slider__line-4"></div><!-- /.main-slider__line-4 -->
    <div class="main-slider__line-5"></div><!-- /.main-slider__line-5 -->
    <div class="main-slider__line-6"></div><!-- /.main-slider__line-6 -->
    <div class="swiper-container thm-swiper__slider" data-swiper-options='{
"slidesPerView": 1,
"loop": true,
"effect": "fade",
"autoplay": {
    "delay": 5000
},
"navigation": {
    "nextEl": "#main-slider__swiper-button-next",
    "prevEl": "#main-slider__swiper-button-prev"
}
}'>
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="image-layer" style="background-image: url(assets/images/main-slider/main-slider-2-1.jpg);">
                </div>
                <!-- /.image-layer -->
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12 text-center">
                            <span class="tagline">Welcome to Agriculture Farm</span>
                            <h2>Pure Agriculture <br>
                                Products</h2>
                            <a href="#" class=" thm-btn">Discover More</a>
                            <!-- /.thm-btn dynamic-radius -->
                        </div><!-- /.col-lg-7 text-right -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.swiper-slide -->
            <div class="swiper-slide">
                <div class="image-layer" style="background-image: url(assets/images/main-slider/main-slider-2-2.jpg);">
                </div>
                <!-- /.image-layer -->
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12 text-center">
                            <span class="tagline">Welcome to Agriculture Farm</span>
                            <h2>Pure Agriculture <br>
                                Products</h2>
                            <a href="#" class=" thm-btn">Discover More</a>
                            <!-- /.thm-btn dynamic-radius -->
                        </div><!-- /.col-lg-7 text-right -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.swiper-slide -->
        </div><!-- /.swiper-wrapper -->

        <!-- If we need navigation buttons -->
        <div class="main-slider__nav">
            <div class="swiper-button-prev" id="main-slider__swiper-button-next"><i class="agrikon-icon-left-arrow"></i>
            </div>
            <div class="swiper-button-next" id="main-slider__swiper-button-prev"><i class="agrikon-icon-right-arrow"></i></div>
        </div><!-- /.main-slider__nav -->

    </div><!-- /.swiper-container thm-swiper__slider -->
</section><!-- /.main-slider -->
